body{
	 min-width: 1349px;
}

.text-right{
	text-align: right;
}
.panel {
    margin-top: 3px;
    height: 860px;
}

.panel>div {
    height: 100%;
    display: inline-block;
}

.panel>div:FIRST-CHILD {
    width: 14%;
    display: inline-block;
    float: left;
    background: #282B33;
    margin: 0 3px
}

.clearfix {
    zoom: 1;
}

.content {
    width: 84%;
    box-sizing: border-box;
}

.content>div {
    width: 100%;
    display: inline-block;
}

.query-title{
	font-size:18px;
	font-family:'ºÚÌå';
	font: #0c0c0c
}

.toolbar {
    padding: 10px 10px 0 0;
    text-align: right;
}

.queryitem {
    margin-top: 20px;
    float:left;
    width:30%;
}

#table {
    margin: 0 5px 0 5px;
}

.search_item_btn {
    width: 100px;
    display: block;
    margin-right:30px;
    
}

.layui_input_set{
	width:173px;
}

#search{
	margin-left:30px;
	width:100px
}

.row{
	white-space: nowrap;
	overflow:hidden;
	margin-top:20px
}