body{
    min-width: 1349px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.panel {
    margin-top: 3px;
    height: 860px;
}

.panel>div {
    height: 100%;
    display: inline-block;
}

.panel>div:FIRST-CHILD {
    width: 14%;
    display: inline-block;
    float: left;
    background: #282B33;
    margin: 0 3px
}

.content {
    width: 84%;
    box-sizing: border-box;
}

.content>div {
    width: 100%;
    display: inline-block;
}

.search-button{
    margin-left:30px;
    width:100px
}

.title{
    background: #F2F2F2;
    padding: 0px 10px 0px 10px;
    border: 1px solid #ccc;
    border-bottom:0px;
    height: 30px;
    line-height: 30px;
    color: #6699CC;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
}

.title i{
    float:left;
}

.title span{
    display:inline-block;
    margin-left: 2px;
}

.search-block{
    border: 1px solid #ccc;
    height: 135px;
}


.query-title{
    font-size:18px;
    font-family:'ºÚÌå';
    font: #0c0c0c
}

.queryitem {
    margin-top: 20px;
    float:left;
    width:30%;
}

.search_item_btn {
    width: 100px;
    display: block;
    margin-right:30px;
    
}

.toolbar {
    padding: 7px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#table {
    margin: 0 5px 0 5px;
}

.row {
    white-space: nowrap;
    overflow:hidden;
    margin-top:20px
}

.form-row{
    margin-top:10px;
}

.form-block{
    border:1px solid #ccc;
    padding-bottom:10px;
}

.form-block-title{
    border:0px;
    border-bottom:1px solid #ccc
}

.field{
    margin:15px
}
